<form action="/create" method="post" class="big-form">
    <label for="name">Nom du projet</label>
    <input class="big-input" type="text" name="name" placeholder="Super soirée" maxlength="50" required>
    <input class="add-new" type="submit" value="+">
</form>
