<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestion de Projets</title>
<style>
    :root {
        --white: #FBF8EF;
        --black: #222831;
        --dark-blue: #78B3CE;
        --light-blue: #C9E6F0;
        --orange: #F96E2A;

        --ff: arial;

        --border-radius: 10px;
        --gap: 30px;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--ff);
        font-weight: 200;
    }
    body {
        width: 100vw;
        height: 100vh;
        background-color: var(--light-blue);
        
        padding: 50px 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body h1 {
        color: var(--black);
    }

</style>