<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestion de Projets</title>
<link href="css/style.css" rel="stylesheet">
<link href="css/components/addNew.css" rel="stylesheet">
<link href="css/components/mainButton.css" rel="stylesheet">
<link href="css/components/imageSection.css" rel="stylesheet">
<link href="css/components/linkButton.css" rel="stylesheet">
<link href="css/components/textSection.css" rel="stylesheet">