<div class="button-group">
    <a class="button main-button" href=<%= url %>><%= name %></a>

    <% if (writeId) { %>
        <form action="/delete_button" method="post">
            <input type="text" name="buttonId" id="buttonId" value=<%= id %> hidden>
            <input type="text" name="writeId" id="writeId" value=<%= writeId %> hidden>
            <input class="delete-button" type="submit" value="X"/>
        </form>
    <% } %>
</div>
