<div class="text-container">
    <h1><%= data["text"] %></h1>
    <p>BOTTOM TEXT</p>
</div>
<% if (writeId) { %>
    <form action="/delete_component" method="post">
        <input type="text" name="id" id="id" value=<%= data["id"] %> hidden>
        <input type="text" name="writeId" id="writeId" value=<%= writeId %> hidden>
        <input type="text" name="pageId" id="pageId" value=<%= pageId %> hidden>
        <input class="delete-button" type="submit" value="X"/>
    </form>
<% } %>
