<div class="text-container">
    <h1>Titre du texte</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo debitis modi ipsum accusantium mollitia consequatur numquam quasi nostrum quis amet illo vero sequi alias totam? Quasi quod quis perferendis.</p>
</div>
