<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body style="padding: 0; margin: 0; height: 100vh">
    <img src="/imgs/panda404.jpg" style="max-height: 100%; max-width: 100%; aspect-ratio: 1;" />
    <h1 style="position: absolute; top: 0; margin: 10px 10px;">
      <a href="/" style="color: red; text-decoration: none">Accueil</a>
    </h1>
  </body>
</html>
