<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Projets</title>
</head>
<body>
    <h1>
        Créer un projet
    </h1>
    <form>
        <!-- Créer le formulaire -->
    </form>
</body>
</html>