<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Projets</title>
</head>
<body>
    <h1>
        Créer un projet
    </h1>
    <form action="/create" method="post">
        <label for="name">Nom du projet</label>
        <input type="text" name="name" placeholder="Super soirée" maxlength="50" required>
        <input type="submit">
    </form>
</body>
</html>