<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
    <style>
        body {
            justify-content: center;
        }
    </style>
    <title>Gestion de Projets</title>
</head>
<body>
<h1>
    Nouveau projet
</h1>
<%- include('../partials/addNew'); %>
</body>
</html>