<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
    <style>
        body {
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>
        Nouveau projet
    </h1>
    <form>
        <!-- Créer le formulaire -->
    </form>
</body>
</html>