<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/linkButton');%>
    <%- include('../partials/textSection');%>
    <%- include('../partials/imageSection', {image: "/images/shrek.jpg"});%>
</body>
</html>